doctype html
html(lang="de")
  include basic/head.pug
  body
    #content
      include basic/humeb.pug
      h2 Zwischendurch
      p= ingredients

      h1 #{cocktail}
      p#desq #{description}
      each val, index in ingredients
        h3= index
        p Zutat: #{index}: #{val}

      a(href="/cocktails") ZURÜÜÜCK!
