doctype html
html(lang="de")
  include basic/head.pug
  body
    #content
      include basic/humeb.pug

      h1 #{cocktail}

      table
        tr 
          th.tval Menge
          th.tind Zutat
        each val, index in ingredients
          form(method="POST" action="/cocktails/ingredients/delete") 
            tr
              td.tval #{val} 
              td.tind #{index}
              td 
                input.form-control(type="hidden" id="cockt" name="cocktail_name" value=cocktail)
                input.form-control(type="hidden" id="ingr" name="ingr_name" value=index)
                button Zutat löschen
        
      form(method="POST" action="/cocktails/ingredients/put")
        input.form-control(type='text' id='ingr' placeholder='Zutat' name='ingr')
        input.form-control(type='text' id='meng' placeholder='Menge' name='meng')
        input.form-control(type="hidden" id="cockt" name='name' value=cocktail)
        button Zutat hinzufügen

             

      h3 Zubereitung:
      p#desq #{description}

      h2 Zubereitung aktuallisieren
      form(method="POST" action="/cocktails/put")
        textarea(rows="5" placeholder="..." name="desc")
        input.form-control(type="hidden" id="cockt" name='name' value=cocktail)
        button Aktuallisieren

      h1 Kommentare
      each val, index in comments
        h2= index
        p= val

      form(method="POST" action="/createnewcomment")
        input.form-control(type='text' id='user' placeholder='Autor' name='auth')
        textarea(rows="4" placeholder="Kommentar" name="comm")
        input.form-control(type="hidden" id="cockt" name='cock' value=cocktail)
        button Kommentieren

      form(method="POST" action="/cocktails/delete") 
        input.form-control(type="hidden" id="cockt" name='cock' value=cocktail)
        button Cocktail löschen          

      a(href="/cocktails") ZURÜÜÜCK!
